*{
	padding: 0;
	margin: 0;
}
.top-box{
	height: 400px;
}
.box{
	width: 10em;
	height: 10em;
	border-radius: 10px;
	opacity: 0.75;
}
.box:hover{
	
	opacity: 1;
}
.eform{
	width: 600px;	
	display: block;
	margin-top: 100px;

}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #f5f5f5;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.container{
	overflow-y:auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
.box p{
		font-size: 5em;	
		
	}

.sidebar-menu{
	width: 300px;
}

#grafico1{
	width: 600px;
}
.loader{
	background-color: #B0C4DE;
	animation: is-rotating 3s infinite;	
	width: 250px;
	height: 250px;
	border: 10px solid rgb(5, 128, 173);
	border-top-color: white;
	border-radius: 50%;
}
@keyframes is-rotating{
	to{
		transform: rotate(1turn);
	}
}
.loader2{
	animation: is-rotating2 3s infinite;
	width: 230px;
	height: 230px;
	border: 7px solid rgb(5, 128, 173);
	border-top-color: white;
	border-radius: 50%;
}
@keyframes is-rotating2{
	to{
		transform: rotate(2turn);
	}
}

.t-login{
      color: whitesmoke !important;
      font-family: Assistant,sans-serif;
    }
   .label-login{
      color: black !important;
    }
    .main-login{
      width: 300px;
    }
 
    .body-login1{
      opacity: 0.9 !important;
      background-image:url('bg.jpg') !important;
      background-size: cover;
    }
/*responsividade  */
@media (max-width: 1366px){
	#grafico1{
		width: 400px !important;

	}
}
@media (max-width: 1280px){
	.sidebar-menu{
		display: none !important;
		clear: both;
	}
	#menu-responsivo{
		display: block !important;	
	}
	.table{
		font-size: 0.5em;
		width: 95vw;
		margin: 0 !important;
		padding: 0 !important;
	}
	#desc{
		display: none;
	}
	.eform{
		width:95vw;
	}	

	#grafico1{
		width: 400px !important;

	}
	body{
		padding-top: 4em;
	}
	.top-box{
		height: 100vh;		
		flex-direction: column !important;
	}
	.box{
		width: 13em;
		height: 7em;	
		
	}

	
}